/* NOTE: */
/* this CSS code is in NO WAY BEST PRACTICES */
/* it is optimized for our training use-case */
/* */
/* Tailwinds "@apply" directive: https://tailwindcss.com/docs/functions-and-directives#apply-directive */
@import "tailwindcss";
@import "../public/fonts/google-fonts.css";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 767px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1100px;
}

@theme inline {
  --font-roboto-slab: "Roboto Slab", var(--font-sans);
  --font-open-sans: "Open Sans", var(--font-sans);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
@layer components {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-lg font-bold;
  }

  a {
    @apply cursor-pointer font-bold text-sky-900 hover:underline;
  }

  button {
    @apply inline-flex cursor-pointer self-center rounded-lg border-0 bg-amber-500 px-2 py-1 text-stone-100 hover:bg-amber-600;
  }

  /*form {*/
  /*  @apply flex flex-col gap-y-8 p-4;*/
  /*}*/

  form > button[type="submit"],
  .SubmitButton {
    @apply self-start px-8 py-2 text-xl;
  }

  label {
    @apply flex flex-col gap-y-2;
  }

  /*probably not semantically correct, but works for our case*/
  label:has(input[type="checkbox"]) {
    @apply flex flex-none flex-row-reverse items-center justify-end;
  }

  input[type="checkbox"] {
    @apply me-2;
  }

  input,
  textarea {
    @apply rounded-lg border px-2 py-2;
  }

  .PageTitle {
    @apply flex items-center justify-center text-3xl text-sky-900 uppercase;
  }

  .TwoColumnLayout {
    @apply grid h-full grid-cols-[2fr_1fr] gap-4;
  }

  .TwoColumnLayout > :nth-child(1) {
    @apply pt-4;
  }
  .TwoColumnLayout > :nth-child(2) {
    @apply border-l border-gray-200 p-4;
  }

  .Sidebar__Title {
    @apply mb-4 flex items-center justify-center text-2xl text-sky-900 uppercase;
  }

  .MatchGroup {
    @apply border-b border-b-gray-200 pb-8 text-gray-700;
  }

  .MatchGroup h2 {
    @apply text-sky-900;
  }

  .MatchRow {
    @apply mt-2 grid grid-cols-[8rem_1fr_auto] gap-x-12;
  }

  .MatchRow > :nth-child(1) {
    @apply truncate;
  }

  .MatchDayRow {
    @apply mt-2 grid grid-cols-[1fr_auto] gap-x-12;
  }

  .MatchPageLayout {
    @apply mx-auto mt-4 flex max-w-[600px] flex-col gap-y-8;
  }

  .SettingsForm {
    @apply grid grid-cols-[auto_1fr] items-center gap-x-4 gap-y-8;
  }

  .MultiSelect {
    @apply flex flex-col space-y-4;
  }

  .MultiSelect__Option {
    @apply flex items-center justify-between space-x-2 border-b border-b-gray-200 pb-4;
  }
}

/* Spinner CSS taken from: http://tobiasahlin.com/spinkit/ */
.Spinner {
  margin: auto 0;
  width: 100%;
  text-align: center;
  padding: 0 2rem 1rem 2rem;
}

.Spinner h1 {
  font-size: 1.5rem;
}

.Spinner > .bounce {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  background-color: #be185d;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.Spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.Spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
